<div class="card">
  <div class="card-image waves-effect waves-block waves-light row valign-wrapper">
    <!-- <img class="activator" src="images/office.jpg"> -->
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4"> <%= link_to movie.title, movie %><i class="material-icons right">more_vert</i></span>
    <p><%= movie.number_of_reviews %> Reviews | <%= movie.average_rating %> Average Cheeses</p></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><%= movie.title %> Synopsis:<i class="material-icons right">close</i></span>
    <p><%= truncate(movie.description, length: 120) %></p>
  </div>
</div>


