<h2>All  Movies<% if params[:genre] %> (<%= params[:genre] %>)<% end %></h2>

<div id='sorting-searching'>
  <div id="filter">
  <%= form_tag(root_path, method: "get", id: "do-not-hide") do %>
    <%= label_tag("Filter By Genre:") %>
    <%= select_tag :genre, options_for_select(@genres) %>
  <% end %>
  <br><br>
  <%= form_tag(root_path, method: "get") do %>
    <button class="reset-button btn waves-effect waves-light red lighten-1" type="submit" name="Filter">
          <%= submit_tag "All Genres" %>
      <i class="material-icons right">search</i>
    </button>
  <% end %>
  </div>
  <div id="search-bar">
  <%= render 'searches/form' %>
  </div>
</div>
<div class="row">
  <%= render @movies %>
</div>

<div class="apple_pagination">
  <%= will_paginate @movies %>
</div>

