<div> <!-- Movie Title and Rating -->
  <h1><%= @movie.title %></h1>
  <h3><%= @movie.average_rating %></h3><br>
  <ul>
    <li><%= @movie.release_date %></li>
    <li><%= @movie.director %> </li>
  </ul>
</div>

<div> <!-- Movie Description -->
<p><%= @movie.description %></p>
</div>



