<div class="card">
  <div class="card-image waves-effect waves-block waves-light row valign-wrapper">
    <!-- <img class="activator" src="images/office.jpg"> -->
  </div>
  <div class="card-content row">
    <div class="col s7 push-s3">
      <h3 class="movie-title-show red-text lighten-1"><%= @movie.title %>
        <% @movie.average_rating.times do %>
        <%= image_tag("Cheese-icon.png",  class: "logo", size: "40") %>
        <% end %>
      </h3>
      <p class="extra-info">
        <% @movie.genres.each do |genre|%>
          <div class="chip">
            <%= link_to genre.genre, movies_path(@movie, genre: genre.genre), :class => 'genre-tag' %></div>
        <% end %>
      </p>
      <p class="extra-info">Release on <%= @movie.release_date.strftime("%B, %d, %Y") %></p>
    </ul>
    <p><%= @movie.description %></p>
    <%= link_to "Add Review", new_movie_review_path(@movie), :class => "review-link" %>
  </div>

  <div class="poster-div col s3 pull-s7">
    <%= image_tag("example_poster.jpg",  class: "poster", size: "200x240") %>
  </div>

  <div class="movie_reviews col s12">
    <%= render "reviews/index", reviews: @movie.reviews %>
  </div>
</div>
</div>
