<h2>Registration</h2>

<%= form_for @user, url: users_new_path do |f| %>

  <div>
     <%= f.label :username %><br />
     <%= f.text_field :username %>
  </div><br />

  <div>
     <%= f.label :password %><br />
     <%= f.password_field :password %>
  </div><br />

  <div>
     <%= f.label :password %><br />
     <%= f.password_field :password %>
  </div><br />

  <div>
    <%= f.submit %>
  </div>

<% end %>
