
<%= form_for @review, url: movie_reviews_path do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <br />
 <div>
    <button class="btn waves-effect waves-light red lighten-1" type="submit" name="Write Review!">Write Review!
      <i class="material-icons right">done</i>
    </button>
  </div>
<% end %>

