  <div class="individual_review">
    <h4><%= review.title %> | <%= Rating.find_by(rater_id: review.reviewer.id, rateable_type:"Movie", rateable_id: review.movie.id).rating %> </h4>
    <span class="reviewing_author"><%= review.reviewer.username %></span>
    <span class="review_rating"><%= review.average_rating %></span>

    <p><%= review.body %></p>
  </div>
