<div class="individual_review">
  <h5 class="review-title"><%= review.title %>
     <% Review.find(review.id).movie_rating.rating.times do |cheese| %>
       <%= image_tag("Cheese-icon.png",  class: "logo", size: "20") %>
     <% end %>
  </h5>

  <span class="reviewing_author">
  <% if review.reviewer.trusted_reviewer? %>
    <i class="tiny yellow-text material-icons">verified_user</i>
    <span class="reviewer"><%= review.reviewer.username %></span> | <span class="review_rating">review rating: <%= review.average_rating %></span>
  <% else %>
    <span class="reviewer"><%= review.reviewer.username %></span> | <span class="review_rating">review rating: <%= review.average_rating %></span>
  <% end %>
  </span><br />

  <% if authorized?(review.reviewer) %>
  	<span class="delete_link"><%= link_to "Delete", movie_rating_path(review.movie.id, review.id), method: :delete%></span>
  <% end %>
  <p><%= review.body %></p>

  <% if review.comments.count > 0 %>
  	<h6>View Comments <i class="tiny blue-text material-icons chat-icon">chat_bubble</i></h6>
    <%= render "comments/index", comments: review.comments %>
  <% end %>

  <% if logged_in? %>
    <% if not_your_own(review.reviewer) && havent_rated_yet(review) %>
  	  <%= link_to "Rate this review", new_review_rating_path(review.id) %> |<% end %> <%= link_to "Add a comment", new_review_comment_path(review.id) %>

  <% end %>

</div>
