<!DOCTYPE html>
<html>
<head>
  <title>FievStarMovies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- FONTS -->
  <link href='https://fonts.googleapis.com/css?family=Cookie|Roboto' rel='stylesheet' type='text/css'>

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="assets/materialize.min.css"  media="screen,projection"/>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="assets/materialize.min.js"></script>

</head>
<body>
  <header>
    <div id='name-and-logo'>
      <h1 id="website-name">FievStarMovies</h1>
      <%= image_tag("logo.png",  id: "logo", size: "70") %>
    </div>
    <nav>
      <%= link_to 'Home', root_path %>
      <% if logged_in? %>
        <%= link_to 'Logout', logout_path%>
      <% else %>
        <%= link_to 'Login', login_path %>
        <%= link_to 'Register', new_user_path %>
      <% end %>
    </nav>
  </header>
  <div class="center-container">
    <%= yield %>
  </div>

</body>
</html>
